{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.json", "*.json5"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}