name: Build output

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install and Build
        run: |
          npm ci
          npm run build:output
      - name: Check
        uses: marceloprado/has-changed-path@v1.0.1
        id: changed-changelog
        with:
          paths: CHANGELOG.md
      - name: Get package version
        if: steps.changed-front.outputs.changed == 'true'
        uses: nyaa8/package-version@v1
      - name: Commit
        if: github.event_name == 'workflow_dispatch' || steps.changed-front.outputs.changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Output build (${{ env.PACKAGE_VERSION }})